@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;  
    --second-bg-color: #121212;
    --text-color: #fff;
    --main-color: #ff0000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo img {
    height: 70px;
    display: block;
    transition: transform 0.5s ease;
}


.logo:hover {
    transform: scale(1.1);
    text-shadow: var(--main-color);
}

.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media (max-width:995px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1 rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
    .navbar a.active{
        padding: 1rem;
        border-radius: 0.5rem;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}

.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color),
                0 0 15px var(--main-color),
                0 0 50px var(--main-color);
    cursor: pointer;
}
.home-img img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: var(--main-color);
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: justify !important;
}
.home-content p{
    font-size: 1.7em;
    font-weight: 400;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.social-icon a:hover{
    color: black;
    background: var(--main-color);
    transform: scale(1.1)translateY(-5px);
    box-shadow:  0 0 25px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1 rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color)
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before {
    content: 'Junior Programmer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.typing-text span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to {
        border-left: 3px solid var(--main-color);
    }
}
@keyframes words{
    0%, 20% {
        content: 'Junior Programmer';
    }
    21%, 40% {
        content: 'Web Designer';
    }
    41%, 60% {
        content: 'Frontend Developer';
    }
    61%, 80% {
        content: 'Backend Developer';
    }
    81%, 100% {
        content: 'Gamer';
    }
}
@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85%{
        width: calc(100% + 8px);
    }
} 

@media (max-width:1000px) {
    .home {
        gap: 4rem
    }
}
@media (max-width:995px) {
    .home {
        flex-direction: column;
        margin-top: 5rem 4rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

/* Services */

.services{
    background: var(--second-bg-color);
}
.heading{
    padding-top: 24px;
    text-align: center;
    font-size: 4rem;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}
.services .single-service .content {
    position: relative;
    z-index: 20;
}
.services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform:  translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    border: 6px solid #934f4f;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}
.services .single-service:hover .circle-before {
    width: 100%;
    height: 100%;
    transform: none;
    border: 0;
    border-radius: 0;
    opacity: 1;
}
.services .single-service .icon {
    display: inline-block;
    margin-bottom: 26px;
    height: 70px;
    width: 70px;
    background-color: var(--main-color);
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}
.services .single-service:hover .icon {
    background-color: var(--second-bg-color);
    color: var(--main-color);
}
.services .single-service .title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}
.services .single-service:hover .title {
    color: #000000;
}
.services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
    text-align: justify !important;
}
.services .single-service:hover .description {
    color: #000000;
}
.services .single-service a {
    position: relative;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}
.services .single-service:hover a {
    color: #000000;
}
@media (max-width:991px) {
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
}
@media (max-width:895px) {
    .services .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:768px) {
    .heading {
        padding-top: 32px;
    }
}

/* Skills */
.skills {
    background: var(--bg-color);
}
.skills .container {
    background: #f55d1b86;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.skills .container .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
.skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: #000000;
    transition: 0.3s ease;
    cursor: pointer;
}
.skills .container .bar:hover {
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}
.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}
@media screen and (max-width:600px) {
    .skills .container {
        margin: 0;
        padding: 0;
    }
    .skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
    .skills .container{
        margin-top: 5px;
        width: 100%;
    }
}

/* Education */
.education {
    background: var(--second-bg-color);
}

.education .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.education .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: rgb(90, 64, 64);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 2;
}

.education .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.education .container::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    line-height: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(252, 252, 252);
    border-radius: 50%;
    border: 4px solid var(--main-color);
    top: 15px;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    color: rgb(90, 64, 64);
}

.education .left {
    left: 0;
}

.education .right {
    left: 50%;
}

.education .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    right: 30px;
    z-index: 1;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.education .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 30px;
    z-index: 1;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.education .right::after {
    left: -16px;
}

.education .content {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}

.education .content .tag {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    margin-left: 1.5rem;
}

.education .content .desc {
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.education .content .tag h2 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.education .content .desc p {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

@media screen and (max-width: 600px) {
    .education .timeline {
        margin-top: 2rem;
    }

    .education .timeline::after {
        left: 31px;
    }

    .education .container {
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }

    .education .container::after {
        font-size: 2.2rem;
    }

    .education .container::before {
        left: 61px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }

    .education .left::after,
    .education .right::after {
        left: 15px;
    }

    .education .right {
        left: 0%;
    }
}


/* Contact */
.contact {
    background: var(--bg-color);
}
.contact .container {
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    background: var(--second-bg-color);
}
.contact .container .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
}
.contact-left {
    flex-basis: 35%;
    font-size: 17px;
}
.contact-right {
    flex-basis: 60%;
}
.contact .contact-left .sub-title {
    font-size: 4rem;
}
.contact .contact-left p {
    margin-top: 30px;
}
.contact .contact-left p i {
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}
.contact .contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #000000;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}
.contact .contact-right button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1 rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.contact .contact-right button:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color)
}
.btn-cv{
    display: inline-block;
    background: transparent;
    padding: 1rem 2rem;
    color: black;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    margin-top: 50px;
}
.btn-cv:hover{
    background: var(--main-color);
    border: none;
    box-shadow: 0 0 25px var(--main-color);
}
.contact .button p {
    font-size: 2rem;
    font-weight: 600;
}
.btn-cv a{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
}
.btn-cv:hover a {
    color: #000000;
}
@media screen and (max-width:600px) {
    .contact .container{
        margin: 0;
        padding: 0;
    }
    .contact .container .row {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
}

/* Footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--main-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social a {
    font-size: 25px;
    color: #000000;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.footer .social a:hover {
    background: black;
    color: var(--main-color);
    box-shadow: 0 0 15px black;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}
@media (max-width:1285px) {
    html {
        font-size: 55%;
    }
    .single-service {
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5rem;
    }
}
@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 5rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}
